/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  display: block;
  animation: fade 0.5s ease backwards;

  .article_title {
    margin-bottom: 15px;
    padding-bottom: 7px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background: var(--text-gradient-yellow);
      border-radius: 3px;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about_text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;

  p {
    margin-bottom: 15px;
  }
}

/*
** LARGER THAN 580PX SCREEN
*/

@media (min-width: 580px) {
  .about {
    .article_title {
      margin-bottom: 20px;
      font-weight: var(--fw-600);
      padding-bottom: 15px;

      &::after {
        width: 40px;
        height: 5px;
      }
    }
  }

  .about_text {
    margin-bottom: 40px;
  }
}

/*
** LARGER THAN 1024PX SCREEN
*/

@media (min-width: 1024px) {
  .about {
    box-shadow: var(--shadow-5);
  }
}
