/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about_text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;

  p {
    margin-bottom: 15px;
  }
}

.service {
  margin-bottom: 35px;
}

.service_title {
  margin-bottom: 20px;
}

.service_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service_item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
}

.service_icon_box {
  margin-bottom: 10px;

  img {
    margin: auto;
  }
}

.service_content_box {
  text-align: center;
}

.service_item_title {
  margin-bottom: 7px;
}

.service_item_text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}
/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/*
** LARGER THAN 580PX SCREEN
*/

@media (min-width: 580px) {
  .about {
    .article_title {
      margin-bottom: 20px;
      font-weight: var(--fw-600);
      padding-bottom: 10px;

      &::after {
        width: 40px;
        height: 5px;
      }
    }
  }

  .about_text {
    margin-bottom: 40px;
  }

  .service_item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }

  .service_icon_box {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .service_content_box {
    text-align: left;
  }
}

/*
** LARGER THAN 1024PX SCREEN
*/

@media (min-width: 1024px) {
  .about {
    box-shadow: var(--shadow-5);
  }

  .service_list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
}
