.separator {
  margin: 32px 0;
}

.icon_box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
  }

  svg {
    width: 18px;
  }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs-1);
}

.h3 {
  font-size: var(--fs-2);
}

.h4 {
  font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article_title {
  position: relative;
  padding-bottom: 7px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
  }
}

.has_scrollbar {
  &::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 20px;
  }
}

.content_card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
}

.main_content {
  display: block;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/*
** LARGER THAN 450PX SCREEN
*/

@media (min-width: 450px) {
  .main_content {
    display: block;
  }
}

/*
** LARGER THAN 580PX SCREEN
*/

@media (min-width: 580px) {
  .icon_box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .has_scrollbar {
    &::-webkit-scrollbar-button {
      width: 100px;
    }
  }

  .article_title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;

    &::after {
      width: 40px;
      height: 5px;
    }
  }
}

/*
** LARGER THAN 1024PX SCREEN
*/

@media (min-width: 1024px) {
  .main_content {
    position: relative;
    width: max-content;
    margin: auto;
  }
}

/*
** LARGER THAN 1250PX SCREEN
*/

@media (min-width: 1250px) {
  .main_content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }
}
